@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}



/* Top */
.top{
  height: 7vh;
  background-color: #007CBE;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 20px;
}

.topleft{
  display: flex;
  background-color: #FBAF00;
  width: 10%;
  clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0 48%, 0% 0%);
  padding: 0.7%;
  font-weight: 600;
}

.topleft span{
  font-size: 16px;
}

.time{
  font-size: 24px;
}


.topright{
  display: flex;
  padding: 0.8% 5%;
}

.fa{
  padding-right: 10px;
}

/* Header */

header{
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  padding: 2% 1%;
  background-color: #F1FAEE;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}
.headleft{
  height: 100%;
}
.logo{
  height: 100%;
}

.logo img{
  height: 120%;
}

.headright{
  height: 100%;
  display: flex;
  color: #000;
}

.call{
  margin-right: 60px;
  line-height: 0.7;
}
.call img{
  height: 50%;
}

.email{
  margin-right: 50px;
  line-height: 0.7;
}
.email img{
  height: 50%;
}

.design{
  height: 100%;
}

.design button{
  height: 60px;
  width: 300px;
  margin-top: 4%;
  margin-left: 10%;
}


/* Navbar */
.navbar{
  height: 8vh;
  font-size: 15px;
}
.navbar a:hover{
  font-size: 17px;
}

.dropdown-item{
  font-size: 14px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.dropdown-item:focus{
  background-color: #007CBE;
}
.dropdown-menu li a:hover{
  background-color: #007CBE;
}

.navbar-nav{
  margin-left: 10%;
}

.nav-item{
  margin-left: 2%;
  padding-right: 7%;
}
.fixednav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
/* Footer */

footer{
  background-color: #007CBE;
  color: #fff;
  display: flex;
  flex-direction: column;
}

footer a{
  color: #fff;
  text-decoration: none;
}

.footerboxes{
  display: flex;
  justify-content: space-around;
  padding-top: 7%;
  padding-bottom: 70px;
}

.footer-box h1{
  border-bottom: 2px solid #fff;
  padding-bottom: 2%;
  font-size: 29px;
  text-align: center;
}

.footer-box ul{
  padding-top: 7px;
}

.footer-box ul li{
  padding-top: 5%;
  font-size: 18px;
}

.contact-footer ul li{
  list-style: none;
}

.copyrights{
  padding: 25px 0;
  background-color: rgba(0, 0, 0, 0.546);
  display: flex;
  justify-content: space-around;
}

.sociallinks{
  display: flex;
}

.copyright{
  font-size: 20px;
  margin-top: 15px;
}

.social-box{
  margin-top: 15px;
  font-size: 20px;
  padding-right: 20px;
  width: 50px;
  height: 50px;
}

.social-box a{
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #007CBE;
}


/* HOME PAGE STARTS HERE */
.carousel img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  position: relative;
}

.carouseltext{
  position:absolute;
  top:25px;
  left:50px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 35px;
  font-weight: 700;
  color:#fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  z-index: 3;
  }

.carouseltext-large{
  position:absolute;
  top:70px;
  left:50px;
  font-family: 'East Sea Dokdo', sans-serif;
  font-size: 90px;
  font-weight: 500;
  color:#fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  z-index: 3;
}
.overlay{
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer;
}

.btn-info{
  position:absolute;
  top: 250px;
  left:50px;
  padding: 20px 50px;
  z-index: 4;
  background-color: #FBAF00;
  border: none;
}
.description{
  height: 70vh;
  background-color: #F1FAEE;
  border-radius: 10px;
  margin: 10px 150px 80px;
  padding: 40px 80px;
}

.description h1{
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}

.description p{
  font-size: 15px;
  padding-bottom: 30px;
}

.homeviews{
  display: flex;
  width: 100%;
  background-color: #F1FAEE;
}

.imgview{
  width: 38%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.imgview:first-child{
  padding-left: 0;
}

.imgview img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.imgview span{
  position: absolute;
  top: 85%;
  left: 37%;
  z-index: 3;
  color: #FBAF00;
  font-size: 42px;
  font-family: 'East Sea Dokdo', sans-serif;
}

.dark{
  position: absolute;
  z-index: 3;
  background: linear-gradient( 0deg, rgba(0, 0, 0, 0.96) 0%, rgba(255, 255, 255, 0) 100% );
  top: 90%;
  left: 0;
  width: 100%;
  height: 50%;
}

.imgview img:hover{
  transform: scale(1.5);
}

.imgview:hover{
  padding: 0;
}

.col-md-4{
  border: 1px solid black;
}

.popular{
  margin-top: 100px;
}

.popular h1 span{
  color: #B80C09;
}

.popular-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 75px;
}
.pop-div{
  height: 3px;
  width: 450px;
  justify-content: center;
  background-color: #B80C09;
}

.popular-des{
  width: 30%;
  padding: 75px 25px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  position: relative;
  border-radius: 10px;
  background-color: #F1FAEE;
  height: 60vh;
}

.popular-img{
  height: 80%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.popular-img img{
  height: 90%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  transition: transform 0.2s;
}

.popular-img img:hover{
  transform: scale(1.1);
  overflow: hidden;
  cursor: pointer;
}

.popdesc{
  margin-top: 265px;
  text-align: center;
  overflow: hidden;
}

.popcost{
  margin: 0;
  background-color: #FBAF00;
  padding: 20px 30px;
  border-radius: 10px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0 48%, 0% 0%);
}

.popbtn{
  position: absolute;
  top: 85%;
  width: 90%;
  padding: 10px 0;
}

.poptime{
  position: absolute;
  top: 68%;
  right: 0;
  background: #FBAF00;
  padding: 10px 10px;
  border-radius: 10px 0 0 10px;
}
/* REVIEWS HERE */
.reviews .text{
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
}
.reviews .text h1{
  position: absolute;
  top: 35%;
  font-size: 95px;
  color: #fff;
  z-index: 4;
  font-family: 'East Sea Dokdo', sans-serif;
}
.reviews .text img{
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.reviews .text .overlay{
  position: absolute;
  height: 100%;
}

.reviews > h1{
  font-size: 75px;
  text-align: center;
  width: 100%;
  background-color: #007CBE;
  padding: 5%;
  color: #fff;
}

/* REVIEWS END */

.person-rev{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  padding: 35px;
  width: 40%;
  margin: 5%; 
  border-radius: 20px;
  background-color: #007CBE;
  color: #F1FAEE;
}

.person-rev h1{
  font-family: 'East Sea Dokdo', sans-serif;
  font-size: 45px;
}

.person-rev p{
  font-family: 'Noto Sans', sans-serif;
}

/* HOME PAGE END HERE */

/* ABOUT PAGE STARTS HERE */
.about{
  position: relative;
}
.background{
  position: relative;
}

.background img{
  width: 100%;
}

.background > .overlay{
  position: absolute;
}

.about > .text{
  position: absolute;
  background-color: #E1F2FE;
  width: 70%;
  z-index: 3;
  height: 70%;
  top: 15%;
  left: 15%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: left;
  padding: 20px 30px;
}

.about .text h1{
  font-size: 70px;
  font-family: 'East Sea Dokdo', sans-serif;
  border-bottom: 3px solid;
  margin-bottom: 35px;
}

.about .text p{
  font-size: 17px;
  font-family: 'Noto Sans', sans-serif;
}

/* ABOUT PAGE ENDS HERE */

/* DETAIL PAGE STARTS HERE */

.details{
  position: relative;
}
.details p{
  white-space: pre-wrap;
}

.details img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.image-part{
  position: relative;
  height: 85vh;
}
.image-part img{
  height: 100%;
}
.details h1{
  text-align: center;
  position: absolute;
  top: 30%;
  left: 31%;
  z-index: 4;
  color: #fff;
  font-size: 95px;
  font-family: 'East Sea Dokdo', sans-serif;
}

.details .overlay{
  position: absolute;
}

.details p{
  margin: 70px 150px;
  text-align: justify;
  font-size: 17px;
  line-height: 200%;  
}

.book-now{
  text-align: center;
}

.book-now > button{
  font-size: 30px;
  padding: 10px 60px;
  font-weight: 300;
  margin-bottom: 50px;
}
/* DETAIL PAGE ENDS HERE */

/* TREK PAGE HERE */

.trek a{
  list-style: none;
  text-decoration: none;
}

.trek h1{
  text-align: center;
  padding: 65px;
  font-size: 85px;
  font-family: 'Noto Sans', sans-serif;
  color: #007CBE;
}

.trek ul{
  padding: 0;
  margin: 0;
}

.trek li{
  position: relative;
}

.trek li .overlay{
  position: absolute;
}

.trek li img{
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.trek span{
  position: absolute;
  font-family: 'East Sea Dokdo', sans-serif;
  z-index: 5;
  color: #FBAF00;
  font-size: 65px;
  top: 37%;
  left: 37%;
}

/* TREK PAGE ENDS HERE */


/* CHECKING GITHUB PAGES */